$light-color: #fff;
$medium-color: #616070;
$dark-color: #060b35;
$blue-color: #00acdc;
$card-size: 200px;
$gap-x: 48px;
$gap-y: 46px;
$container-padding-vertical: 50px;
$container-padding-horizontal: 40px;
